body { 
    color: white;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    align-items: center;
    padding:16px;

}
a {
    color:aliceblue;
    text-decoration: none;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
}
.center{
    text-align: center;
}
h1{
    color: rgb(255, 255, 255);
}
footer img{
    width: 40px;
    height: 40px;
}
footer{
    display: flex;
    justify-content: center;
    text-align: center;
}
footer a{
    margin:20px
}
footer p{
    margin: 2px;
}
.container {
    padding: 0px 50px;
}
nav a:hover{
    color: green;
}
.listas {
    display: flex;
    gap: 40px;
}
ol {
    list-style-position: inside;
}