@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


main{
    display: block;
    margin: auto;
    border-radius: 8px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.476);
    padding: 20px;
    width: 80vw;
    background-color: lightgray;
}
