
@charset "UTF-8";
/* Font importada de google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*fonte importada do computador */

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Passion+One:wght@400;700;900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
}

:root{
    --cor00:#233CCF;
    --cor01:#3747A5;
    --cor02:#0025FA;
    --cor03:#3D467A;
    --cor04:#353950;
    --cor05:#2B2C33;

    --fonte_padrao:Arial, Verdana, Helvetica, Sans-serif;
    --fonte_padrao02:"Libre Baskerville", serif;
    --fonte_destaque:"Bebas Neue", Sans-serif;
    --fonte_android:'Android',sans-serif;
    --fonte_caligrafica:"Passion One", sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
}

body { 
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    background-image: linear-gradient(to bottom, var(--cor00), var(--cor05));
    min-width: 300px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    

}
header > h1{
    color: white;
    font-family:var(--fonte_destaque);
    font-size: 2em; 
    font-weight:lighter;   
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
}  

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0px solid rgb(255, 255, 255);
}

header > p{
    font-family: var(--fonte_padrao);
    font-size: 0.67em;
    color: white;
    padding-bottom: 10px;
    
}

nav{
    font-family: var(--fonte_padrao);
    background-color: var(--cor05);
    padding-left: 15px;
    padding-bottom: 10px;
    
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: lighter;
    border-radius: 2px;
    transition-duration: 0.3s;
    
}
nav a:hover{
    background-color: var(--cor01);
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    border-radius:5px;
    transition-duration: 0.5s;
}
a {
    color:aliceblue;
    text-decoration: none;
    padding: 10px;
}

main{ /*RESPONSIVE*/
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 15px; /*distância das bordas ao conteúdo do meio*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    margin-top: 0px;
}

main p{
    margin: 15px 15px 15px 15px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.7em;
}

main h3{
    margin: 20px 15px 5px 15px;
}
.center{
    text-align: center;
}

footer img{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.37);
    width: 30px;
    height: 30px;
}
footer img:hover{
    background-color: var(--cor00);
    padding: 3px;
    transition-duration: 0.5s;
    border-radius: 10px;
    
}
footer{
    background-image: linear-gradient(to bottom, var(--cor00), var(--cor05));
    display: flex;
    justify-content: center;
    text-align: center;
}
footer a{
    margin:20px
}
footer p{
    color: white;
    padding: 10px;
    margin: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.76);
}
.container {
    padding: 0px 50px;
}

.listas {
    display: flex;
    gap: 30px;
}

.galeria{

}

ul{
    list-style-type:none;
}
